# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
.next/
.expo/
web-build/

# Environment files
.env
.env.local
.env.*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
nul

# Temp files
*.zip
*.tar.gz
*.log

# Local Netlify folder
.netlify

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Testing
coverage/
